* {
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
   display: grid;
   width: 100vw;
   height: 100vh;
   grid-template-columns: 1fr 8fr;
   grid-template-rows: 25% 50% 25%;
   grid-template-areas: 
   'sidebar firstblock'
   'sidebar list'
   'footer footer' 
   ;
   
}

.sidebar{
    display: flex;
    background-color: #f1f1f1;
    grid-area: sidebar;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    margin-top: 30px;
    width: 100%;
  }
  
.sidebar li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    height: 50px;
    
  }



.firstblock{
    display: flex;
    flex-flow: row;
    grid-area: firstblock;
    width: 100%;
   background-color: #f1f1f1;
}

.firstblock div{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.firstblock img{
padding: 5px;
margin: 5px;
}

.text {
    margin-top: 20px;
    padding: 10px;
    height: 90%;
}


.firstblock div ul{
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    height: 10%;
    
}
.firstblock div ul li{
    display: inline;
    padding: 10px; 
}


.list{
    grid-area: list;
    margin-top: 20px;
    width: 95vw;
}


.list tr:nth-child(even) {
    background-color: #dddddd;
  }

.list td:nth-child(4) {
    color: blue;
    border: 1px solid black;

  }
.list tr{
    border: 1px solid #dddddd;
    margin: 0;
}
.list td { 
    width: 350px;
    text-align: left;
    padding: 8px;
    margin: 0;
  }

footer{
    grid-area: footer;
    display: flex;
    flex-flow: row;
    background-color: blue;
    width: 100vw;
}

footer > img {
    padding: 5px;
    margin: 5px;
   
}

footer > div{
    display: flex;
    align-items: center;
    width: 50%;
}


footer > ul {
    list-style-type: none;
    width: 50%;
   text-align: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
} 

footer > ul > li {
    display: inline;
}